* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(187, 183, 183);
}

.contenedor {
    width: 800px;
    max-width: 100%;
    margin: 100px auto;
    margin-top: 100px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    /*box-shadow: 0 0 20px 1px rgb(0, 0, 0.3);*/
    /*border-radius: 10px;*/
}

.subcontenedor {
    background-color: gray;
    padding: 22px;
    border: white 5px solid;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-align: center;
}

.subcontenedor:hover {
    background-color: black;
}

.name {
    background-color: darkorchid;
    grid-column: 1/4;
}

.date {
    background-color: orange;
}

.color {
    background-color: darkcyan;
}

.calificacion {
    background-color: darksalmon;
}

.telefono {
    background-color: green;
}

.email {
    background-color: rgb(241, 192, 28);
}

.file {
    background-color: brown;
    grid-column: 1/4;
}

.languaje {
    background-color: darkblue;
}

#enviar {
    background-color: black;
    color: white;
    border-radius: 7px;
}

#limpiar {
    background-color: black;
    color: white;
    border-radius: 7px;
}

#nombre {
    width: 70%;
}

#fecha {
    width: 100%;
}

#color {
    width: 100%;
}

#calificacion {
    width: 100%;
}

#archivo {
    width: 70%;
}

@media screen and (max-width: 912px) {
    .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .name {
        grid-column: 1/3;
    }

    .date {
        grid-column: 1/1;
    }

    .color {
        grid-column: 0/1;
    }

    .calificacion {
        grid-column: 1/1;
    }

    .email {
        grid-column: 1/3;
    }

    #email {
        width: 70%;
    }

    .file {
        grid-column: 1/3;
    }
}

@media screen and (max-width: 500px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
    }

    .name,
    .date,
    .color,
    .calificacion,
    .telefono,
    .email,
    .file,
    .languaje {
        grid-column: 1/3;
    }

    #enviar {
        width: 200px;
    }

    #limpiar {
        width: 200px;
    }
}